.contactBox{

  .contact {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #5b63ec;
    opacity: 85%;
    color: #fff;
    h3 {
      display: block;
      color: #ffc558;
      font-size: 60px;
      font-weight: 600;
      text-transform: capitalize;
      position: relative;
      &::after{
        content: '';
        width: 100%;
        height: 3px;
        background-color: #ffc558;
        position: absolute;
        bottom: 5px;
        left: 0;
      }
    }
    p{
      margin: 3vw 0;
      font-size: 40px;
    }
    div{
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      margin-bottom: 1vw;
      svg{
        width: 30px;
        height: 30px;
        padding-right: 10px;
        object-fit: cover;
      }
    }
  }
}
