.contactBox{
  background-color: #5b63ec;  
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .contactImg{
    display: flex;
    padding-right: 10vw;
    img{
      object-fit: cover;
    }
    .img1{
      width: 500px;
      height: 500px;
      border-radius: 50%;
      transition: .3s;

    }
    .img2{
      width: 200px;
      height: 200px;
      border-radius: 50%;
      margin-left: -2.5vw;
      transition: .3s;
      
    }
  }
  .contact {
    // width: 30%;
    
    opacity: 85%;
    color: #fff;
    h3 {
      display: block;
      color: #ffc558;
      font-size: 80px;
      font-weight: 600;
      text-transform: capitalize;
      position: relative;
      &::after{
        content: '';
        width: 100%;
        height: 3px;
        background-color: #ffc558;
        position: absolute;
        bottom: 5px;
        left: 0;
      }
    }
    p{
      margin: 3vw 0;
      font-size: 50px;
    }
    div{
      display: flex;
      align-items: center;
      margin-bottom: 1vw;
      svg{
        width: 45px;
        height: 45px;
        padding-right: 10px;
        object-fit: cover;
      }
      span{
        font-size: 25px;
      }
    }
  }
}
