
.pj {
  font-size: 20px;
  h3 {
    text-transform: capitalize;
    font-weight: 700;
  }
  article {
    padding: 0 9vw 11vw 9vw;
  }
  .first {
    border: 1px solid #000;
    height: calc(100vh - 21vw);
    padding-top: 10vw;
    display: flex;
    justify-content: space-between;
    h4 {
      font-weight: normal;
      text-transform: uppercase;
      font-size: 25px;
      padding-bottom: 20px;
    }
    .desBox {
      width: 50vw;
      display: flex;
      flex-direction: column;
      .title {
        width: 100%;
        display: flex;
        align-items: flex-start;
        h2 {
          font-size: 60px;
          font-weight: 700;
          padding-bottom: 60px;
        }
        img {
          width: 50px;
          object-fit: contain;
          padding-left: 10px;
        }
      }
      .txt {
        font-size: 22px;
        p {
          margin-bottom: 15px;
        }
      }
      .link {
        padding-top: 200px;
        a {
          padding: 12px 25px;
          display: inline-block;
          border: 2px solid #969cf3;
          border-radius: 50px;
          color: #5b63ec;
          text-transform: capitalize;
          font-size: 16px;
          font-weight: 600;
          &:hover {
            background-color: #5b63ec;
            color: #fff;
          }
          &:first-child {
            margin-right: 20px;
          }
          &:hover .linkBox {
            transform: translateX(5px);
          }
          .linkBox {
            display: flex;
            align-items: center;
            transition: 0.4s;
          }
        }
      }
    }
    .pjBox {
      width: 50vw;
      margin-left: 50px;
      position: relative;
      display: flex;
      justify-content: flex-start;
      cursor: pointer;
      overflow: hidden;
      box-shadow: 2.4px 1.5px 3.3px rgba(0, 0, 0, 0.025),
        5.8px 3.7px 7.9px rgba(0, 0, 0, 0.036),
        10.9px 6.9px 14.9px rgba(0, 0, 0, 0.045),
        19.4px 12.3px 26.6px rgba(0, 0, 0, 0.054),
        36.3px 23px 49.7px rgba(0, 0, 0, 0.065),
        87px 55px 119px rgba(0, 0, 0, 0.09);
      &:hover .pj1 {
        transform: translateY(-1050px);
      }
      .pj1 {
        width: 100%;
        object-fit: contain;
        position: absolute;
        top: 0;
        left: 0;
        transition: 6s;
      }
    }
  }
  .contain {
    font-size: 20px;
    padding: 7vw 9vw 5vw 9vw;
    display: flex;
    h3 {
      font-size: 50px;
      font-weight: 700;
      margin-bottom: 2vw;
    }
    .dir {
      width: 40vw;
    }
    .code {
      width: 60vw;

      span {
        display: block;
        padding-top: 0.3vw;
        font-size: 13px;
        color: #999;
      }
      h4 {
        font-size: 28px;
        font-weight: 500;
        margin-bottom: 10px;
      }
      .naming {
        padding-bottom: 2vw;
        ul {
          list-style: square;
          li {
            padding-bottom: 0.5vw;
          }
        }
      }

      .coding {

        ul {
          list-style: square;
          li {
            margin-bottom: 1.5vw;

            p {
              font-size: 18px;
              margin: 10px 0 5px 0;
              .press{ 
                display: inline;
                font-size: inherit;
                color: inherit;
                font-weight: 700;
              }
              
            }
            .codeBox {
              background-color: #666;
              color: #fff;
              border-radius: 10px;
              padding: 10px 15px;
              margin-top: 10px;
              p {
                font-size: 15px;
                line-height: 1.5;
              }
            }
          }
        }
      }
    }
  }

  .tandp {
    padding: 5vw 9vw;
    h3 {
      font-size: 50px;
      margin-bottom: 100px;
    }
    .tool {
      margin-bottom: 80px;
      p {
        width: 70%;
        height: 100px;
        margin: 0 auto;
        line-height: 100px;
        text-transform: capitalize;
  
        
        &:last-child {
          border: none;
        }

        span {
          display: inline-block;
          text-align: center;
          width: 230px;
          font-size: 25px;
          font-weight: 600;
          margin-right: 50px;
          position: relative;
          
           &::after{
        content: '';
        width: 100%;
        height: 20%;
        position: absolute;
        top: 60%;
        left: 0;
        transform: translateY(-60%);
        z-index: -9;
        background-color: #ddd;
       }
      
        }
        img {
          width: 40px;
          object-fit: contain;
          margin-left: 10px;
        }
      }
    }
    .page {
      .pagetable {
        margin-top: 20px;
        h4 {
          font-size: 30px;
          font-weight: 500;
          margin: 0 10px 20px 0;
        }
        
        .mainTxt {
          display: flex;
          align-items: center;
          padding: 3vw 0;
          border-top: 1px solid #000;
          position: relative;
          transition: 0.4s;
          cursor: pointer;
          &:hover h5 {
            transform: translateX(15px);
          }
         
          &:last-child {
            border-bottom: 1px solid #000;
          }

          &.on {
            height: 150px;
            &:hover {
              transform: translateX(0);
            }
            ul {
              display: flex;
              flex-direction: column;
             
            }
            h5 {
              color: #969cf3;
            }

            & .check .plus::before {
              content: "";
              width: 10%;
              height: 70%;
              background-color: #000;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%) rotate(-45deg);
              transition: 0.4s;
            }
            & .check .plus::after {
              content: "";
              width: 10%;
              height: 70%;
              background-color: #000;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%) rotate(45deg);
              transition: 0.4s;
            }
          }
          h5 {
            width: 20%;
            font-size: 40px;
            font-weight: 700;
            transition: 0.4s;
          }
          ul {
            display: none;
            
            li {
              padding: 10px 0;
            }
          }
          .check {
            width: 40px;
            height: 40px;
            position: absolute;
            top: 50%;
            right: 3%;
            transform: translate(-3%, -50%);

            .plus {
              &::before {
                content: "";
                width: 10%;
                height: 70%;
                background-color: #000;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(90deg);
              }
              &::after {
                content: "";
                width: 10%;
                height: 70%;
                background-color: #000;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
              }
            }
          }
        }
      }
    }
  }
  .problem {
    padding: 7vw 9vw 0 9vw;

    h3 {
      font-size: 50px;
      margin-bottom: 50px;
    }
    ul {
      li {
        margin-bottom: 40px;

        p {
          font-size: 18px;
          color: #999;
          text-indent: 10px;
          margin-top: 0.5vw;
        }
        .loca {
          font-size: 18px;
          font-weight: 500;
          position: relative;

          &::before {
            content: "";
            width: 100%;
            height: 50%;
            background-color: #ffc558;
            position: absolute;
            top: 50%;
            left: 0;
            z-index: -9;
          }
        }
        h4 {
          margin-top: 10px;
          font-size: 24px;
          font-weight: 600;
        }
      }
    }
    .resolve {
      padding-top: 0.3vw;

      p {
        &:last-child {
          font-size: 20px;
          color: #000;
          padding-top: 15px;
        }
        span {
          vertical-align: middle;
          font-size: 30px;
          color: #43a491;
          margin-right: 10px;
        }
      }
    }
  }
  .linkBtn {
    width: 100%;
    padding: 0 9vw 11vw 9vw;
    display: flex;
    justify-content: space-between;
    .prev {
      a {
        width: 20vw;
        padding: 10px 20px;
        margin-right: 20px;
        display: inline-block;
        border: 2px solid #969cf3;
        border-radius: 50px;
        color: #5b63ec;
        text-transform: capitalize;
        font-size: 16px;
        font-weight: 600;
        transition: 0.4s;
        &:first-child {
          margin-right: 20px;
        }

        &:hover .linkBox {
          transform: translateX(5px);
        }
        &:hover {
          background-color: #5b63ec;
          color: #fff;
        }
        &:hover .linkBox span::after {
          content: "이전프로젝트 명";
        }
        .linkBox {
          display: flex;
          justify-content: center;
          align-items: center;
          transition: 0.4s;

          span {
            &::after {
              content: "Previos Page";
            }
          }
        }
      }
    }
    .next {
      a {
        width: 20vw;
        padding: 10px 20px;
        display: inline-block;
        border: 2px solid #969cf3;
        border-radius: 50px;
        color: #5b63ec;
        text-transform: capitalize;
        font-size: 16px;
        font-weight: 600;
        transition: 0.4s;
        &:first-child {
          margin-right: 20px;
        }

        &:hover .linkBox {
          transform: translateX(5px);
        }
        &:hover {
          background-color: #5b63ec;
          color: #fff;
        }
        &:hover .linkBox span::before {
          content: "다음프로젝트 명";
        }
        .linkBox {
          display: flex;
          justify-content: center;
          align-items: center;
          transition: 0.4s;
          span {
            svg {
              padding-left: 10px;
            }
            &::before {
              content: "Next Page";
            }
          }
        }
      }
    }
  }
}
