.pj {
  article {
    padding: 10.417vw 10vw 11vw 10vw;
  }
  .first {
    display: flex;
    justify-content: space-between;
    h3 {
      font-size: 28px;
      text-transform: uppercase;
      padding-bottom: 30px;
    }
    .desBox {
      width: 50vw;
      display: flex;
      flex-direction: column;
      .title {
        display: flex;
        align-items: flex-start;
        h2 {
          font-size: 45px;
          font-weight: 600;
          padding-bottom: 60px;
        }
        img {
          width: 55px;
          object-fit: contain;
          padding-left: 10px;
        }
      }
      .txt {
        font-size: 20px;
        p {
          margin-bottom: 10px;
        }
      }
      .link {
        padding-top: 200px;
        a {
          padding: 10px 15px;
          display: inline-block;
          border: 2px solid #969cf3;
          border-radius: 50px;
          color: #5b63ec;
          text-transform: capitalize;
          font-weight: 600;
          &:first-child {
            margin-right: 20px;
          }
          &:hover .linkBox {
            transform: translateX(5px);
          }
          .linkBox {
            display: flex;
            align-items: center;
            transition: 0.4s;
          }
        }
      }
    }
    .pjBox {
      width: 50vw;
      margin-left: 100px;
      position: relative;
      display: flex;
      justify-content: flex-start;
      cursor: pointer;
      overflow: hidden;
      &:hover .pj1 {
        transform: translateY(-980px);
      }
      .frame {
        width: 36.458vw;
        z-index: 999;
      }
      .pj1 {
        width: 95%;
        object-fit: contain;
        position: absolute;
        top: 0;
        left: 18px;
        padding: 0;
        padding-top: 20px;
        transition: 6s;
      }
    }
  }
  .dir {
    font-size: 30px;
    h3 {
      font-size: 30px;
      padding-bottom: 6.771vw;
    }
    .category {
      display: flex;
      justify-content: center;
      span {
        vertical-align: middle;
        padding-bottom: 15px;
      }
      .oneDep {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-right: 4.167vw;
      }
      .twoDep {
        display: flex;
        flex-direction: column;
        padding-right: 2.604vw;
      }
      .threeDep {
        display: flex;
        flex-direction: column;
        padding: 8.333vw 2.604vw 0 0;
        span {
          margin-bottom: 5.208vw;

          &:nth-child(2) {
            padding-top: 2.604vw;
          }
          &:nth-child(3) {
            padding-top: 10.677vw;
          }
          &:nth-child(4) {
            padding-top: 2.604vw;
          }
          &:nth-child(5) {
            padding-top: 5.208vw;
          }
        }
      }
      .fourDep {
        padding: 8.333vw 2.604vw 0 0;
        div {
          display: flex;
          flex-direction: column;

          &:nth-child(2) {
            padding-top: 2.865vw;
          }
          &:nth-child(3) {
            padding-top: 2.865vw;
          }
          &:nth-child(4) {
            padding-top: 2.865vw;
          }
        }
      }
    }
  }
  .tool {
  }
  .page {
  }
  .problem {
  }
}
