@keyframes swipe {
  0% {
    transform: translateX(-5%);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(-5%);
  }
}
.pj {
  padding-top: 200px;
  height: calc(100vh - 200px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  // border: 1px solid #000;
  .pjBox {
    display: flex;
    .pjdes {
      width: 45vw;
      text-transform: capitalize;

      h3 {
        text-transform: uppercase;
        font-size: 28px;
        padding-bottom: 20px;
      }
      .pjtitle {
        display: flex;
        align-items: flex-start;
        h2 {
          font-size: 45px;
          font-weight: 600;
          padding-bottom: 40px;
        }
        img {
          width: 55px;
          object-fit: contain;
          padding-left: 10px;
        }
      }
      p {
        font-size: 20px;
      }
      .link {
        padding-top: 100px;
        a {
          border: 2px solid #969cf3;
          border-radius: 50px;
          color: #5b63ec;
          padding: 12px;
          font-weight: 600;

          &:last-child {
            margin-left: 20px;
          }

          span {
            padding: 0 15px;
          }
          &:hover span {
            transform: translateX(10px);
          }
        }
      }
    }
    .showpj {
      position: relative;
      cursor: pointer;
      display: flex;
      overflow: hidden;
      &:hover .pj {
        transform: translateY(-260px);
      }
      .frame {
        width: 700px;
        z-index: 9;
      }
      .pj {
        width: 100%;
        object-fit: contain;
        position: absolute;
        padding: 0;
        padding-top: 20px;
        transition: 5s;
      }
    }
  }
  .slideicon {
    position: relative;
    display: flex;
    .imgbox {
      width: 60px;
      height: 100px;
      .arrow {
        width: 13%;
        position: absolute;
        top: 30px;
        left: -5%;
        transition: 0.4s;
        animation: swipe 1.5s linear infinite;
      }
      .hand {
        width: 100%;
        margin-top: 30px;
      }
    }
    p {
      text-transform: capitalize;
      color: #aaa;
      font-weight: 600;
      margin-top: 28px;
      transition: 0.4s;
    }
  }
}
